body {
  background-color: BurlyWood
}

h1 {
  color: AntiqueWhite;
  background-color:black;
  font-family:monotype corsiva;
  font-size:150%;
}

p {
  font-family:monotype corsiva;
  font-size:130%;
}


h7 {
  margin-bottom: 1.5em;
  font-size: 15px;
  color: #727272;
  font-weight: 300;
  font-family: "Open Sans", Arial, serif;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: center;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: center;
}

.loginbox{
	background: rgba(211,211,211,0.5);
	padding: 30px;
}

.registerbox{
	background: #fff;
	padding: 30px;
}

.form-control{
	background-color: transparent !important;
}



<!--header-->

.box-wrap {
  
  max-width: 1370px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 0px 0px px rgba(0, 0, 0, 0.00);
  -moz-box-shadow: 0px 0px 0px px rgba(0, 0, 0, 0.00);
  box-shadow: 0px 0px 0px px rgba(0, 0, 0, 0.00);
}
.box-wrap:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  -webkit-box-shadow: -7px 1px 13px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -7px 1px 13px 2px rgba(0, 0, 0, 0.08);
  box-shadow: -7px 1px 13px 2px rgba(0, 0, 0, 0.08);
}

#fh5co-header {
  padding-top: 3em;
  padding-bottom: 0;
  margin-bottom: 2em;
}
#fh5co-header .navbar-default {
  border: transparent;
  
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header .navbar {
  padding: 0;
  margin: 0;
}
#fh5co-header .fh5co-navbar-brand {
  width: 100%;
  margin: 0;
}
#fh5co-header .fh5co-navbar-brand .fh5co-logo {
  width: 52px;
  height: 30px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#fh5co-header .fh5co-navbar-brand .fh5co-logo:focus, #fh5co-header .fh5co-navbar-brand .fh5co-logo:hover {
  text-decoration: none !important;
}
@media screen and (max-width: 992px) {
  #fh5co-header .fh5co-navbar-brand {
    text-align: center;
    margin-bottom: 40px;
  }
}
#fh5co-header .nav {
  width: 100%;
}
#fh5co-header .nav li {
  font-size: 15px;
  display: inline-block;
  margin-left: 50px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #fh5co-header .nav li {
    width: 100%;
    margin-left: 0;
  }
}
#fh5co-header .nav li:first-child {
  margin-left: 650px;
}
#fh5co-header .nav li a {
  font-family: "Open Sans", Arial, serif;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 0;
}
#fh5co-header .nav li a:hover, #fh5co-header .nav li a:focus {
  color: gray !important;
  background: transparent;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  #fh5co-header .nav li a {
    padding: 10px 0;
  }
}
#fh5co-header .nav li.active a {
  color: black;
  background: transparent;
  position: relative;
}
#fh5co-header .nav li.active a:before {
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: -20px;
  background: black;
  content: '';
  left: 50%;
  margin-left: -4px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .nav li.active a:before {
    top: 0;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header .nav li.active a {
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .nav li.active a {
    border-bottom: 2px solid transparent;
    color: BurlyWood;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header .nav {
    margin-bottom: 40px;
    text-align: center;
  }
}
